# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
crypto_env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.h5
*.pth
*.pkl
.DS_Store
Thumbs.db
.env
*.csv
data/
models/
crypto_env/
